/* anek-kannada-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Kannada';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/anek-kannada-v4-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('assets/fonts/anek-kannada-v4-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anek-kannada-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Kannada';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/anek-kannada-v4-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url('assets/fonts/anek-kannada-v4-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Anek Kannada', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #454545;
  color: #fff;
  font-size: 1rem;
}
.App {
  text-align: center;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  margin-bottom: 0;
}

.wrapper {
  padding: 5px 10px;
}

/* TODO: transform into styled component */
.container {
  padding: 10px 0;
}

/* animations */

@keyframes append-animate {
  from {
    transform: translate(0, -60px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
